* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans' sans-serif;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 100%;
    max-width: 100%;
}