.chat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 7px;
    width: 80%;
    height: 60vh;
    overflow-y: auto;
}