.chat-container {

  .chat {
    padding: 5px;
    border-radius: 7px;
    width: 80%;
    border: 2px solid gray;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 60vh;
    overflow-y: auto;
  }
}