.chat-container {
  justify-content: center;
  align-items: center;
  .chat {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 7px;
    width: 80%;
    height: 60vh;
    overflow-y: auto;
  }
}
