.filmItem{
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
    margin: 10px;
    border: 2px solid #313131;
    border-radius: 7px;
}