.filmPage {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.filmInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    margin: 50px;
    justify-content: center;
    font-size: 24px;
}