.filmPage {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.filmInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addInfo {
    margin: 50px;
    justify-content: center;
    h1 {
        margin: 50px;
        font-size: 36px;
    }
}
