.page {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
}
.page__current {
    background-color: #d3d3d3;
    border: 2px solid #313131;
}
.pag {
    display: flex;
    justify-content: center;
}