.button {
    padding: 10px;
    width: 10vw;
    color: #e9d8a6;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    &:hover {
        transition: 0.2s;
        background-color: #a8dadc;
        color: #fff;
    }
}