.button {
    margin: 10px;
    height: 1vh;
    color: #e9d8a6;
    background-color: transparent;
    border: none;
    &:hover {
        transition: 0.2s;
        background-color: #a8dadc;
        color: #fff;
    }
}