.button {
    padding: 10px;
    width: 7vw;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    &:hover {
        transition: 0.2s;
        border: 1px solid #a8dadc;
        background-color: #fff;
        color: #000;
    }
}