.input{
    height: 40px;
    width: 800px;
    border-radius: 4px;
    border: none;
    &:focus{
        border: none;
    }
    &:hover {
        transition: 0.2s;
        background-color: #a8dadc;
    }
}
