.input{
    padding: 10px;
    height: 40px;
    width: 40vw;
    border-radius: 4px;
    border: none;
    &:focus{
        border: none;
    }
    &:hover {
        transition: 0.2s;
        background-color: #e9d8a6;
    }
}
